<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/sale</url-pattern>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/forgetpassword</url-pattern>
        <url-pattern>/productmanager</url-pattern>
        <url-pattern>/customermanager</url-pattern>
        <url-pattern>/ordermanager</url-pattern>
        <url-pattern>/inventory</url-pattern>
        <url-pattern>/addstaff</url-pattern>
        <url-pattern>/staffmanager</url-pattern>
        <url-pattern>/authentication</url-pattern>
        <url-pattern>/supplier</url-pattern>
        <url-pattern>/addsupplier</url-pattern>
        <url-pattern>/suppliermanager</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewSessionTime</servlet-name>
        <servlet-class>Controller.Admin.AddNewSessionTime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeSale</servlet-name>
        <servlet-class>Controller.HomeSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>Controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemLog</servlet-name>
        <servlet-class>Controller.Admin.SystemLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Schedule</servlet-name>
        <servlet-class>Controller.Admin.Schedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetWorkSession</servlet-name>
        <servlet-class>Controller.Admin.SetWorkSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaryCalculation</servlet-name>
        <servlet-class>Controller.Admin.SalaryCalculationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenEmail</servlet-name>
        <servlet-class>Controller.AuthenEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Controller.Admin.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Staff</servlet-name>
        <servlet-class>Controller.Admin.Staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>Controller.Admin.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>Controller.Admin.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Controller.Admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>Controller.Admin.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inventory</servlet-name>
        <servlet-class>Controller.Admin.Inventory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSchedule</servlet-name>
        <servlet-class>Controller.Admin.DeleteSchedule</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalaryCalculation</servlet-name>
        <url-pattern>/salary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemLog</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Schedule</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetWorkSession</servlet-name>
        <url-pattern>/setworksession</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Controller.Admin.Invoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Supplier</servlet-name>
        <servlet-class>Controller.Admin.Supplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSupplier</servlet-name>
        <servlet-class>Controller.Admin.AddSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierManager</servlet-name>
        <servlet-class>Controller.Admin.SupplierManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleController</servlet-name>
        <servlet-class>Controller.SaleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeSale</servlet-name>
        <url-pattern>/sale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenEmail</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Staff</servlet-name>
        <url-pattern>/staffmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/addstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/productmanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/customermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inventory</servlet-name>
        <url-pattern>/inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewSessionTime</servlet-name>
        <url-pattern>/addsessiontime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/ordermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Supplier</servlet-name>
        <url-pattern>/supplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleController</servlet-name>
        <url-pattern>/salecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSchedule</servlet-name>
        <url-pattern>/deleteschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSupplier</servlet-name>
        <url-pattern>/addsupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierManager</servlet-name>
        <url-pattern>/suppliermanager</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
</web-app>
